.p-main {
  display: flex;
  justify-content: center;
  font-family: lato;
}

.p-main__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: calc(100dvh - 60px);
  padding: 20px;
  width: 90%;
}

.p-main__title {
  text-align: center;
}

.p-form {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.p-form__group {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.p-input {
  height: 50px;
  box-shadow: 0px 1px 4px 0px #00000040;
  border: none;
}

.p-btn {
  margin-bottom: 20px;
  display: flex;
}
