.rg-main {
  display: flex;
  justify-content: center;
  min-height: calc(100dvh - 60px);
}

.rg-main__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: lato;
  padding: 20px 0px 20px 0px;
}

.rg-main__info {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-bottom: 50px;
}

.rg-form {
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin-bottom: 30px;
}

.rg-form__group {
  display: flex;
  flex-direction: column;
}

.rg-input {
  height: 50px;
  border: none;
  box-shadow: 0px 1px 4px 0px #00000040;
}

.rg-count {
  text-align: center;
}
