.md-main {
  display: flex;
  justify-content: center;
  font-family: lato;
}

.md-main__container {
  display: flex;
  flex-direction: column;
  height: calc(100dvh - 60px);
  justify-content: space-between;
  width: 80%;
}

.md-main__title {
  text-align: center;
  margin-top: 50px;
  font-size: 36px;
}

.md-main__buttons {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}

.md-main__logout {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-bottom: 20px;
}

.md-main__btn-logout {
  background: none;
  border: none;
  color: #3b97d3;
  font-weight: 700;
  cursor: pointer;
}
