.btn {
  color: rgba(255, 255, 255, 1);
  border: none;
  height: 50px;
  border-radius: 5px;
  font-family: lato;
  font-size: 15px;
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.25);
}

.btn--blue {
  background-color: rgba(90, 143, 236, 1);
}

.btn--green {
  background-color: rgba(0, 168, 132, 1);
}

.btn--gray {
  background-color: rgba(74, 85, 83, 1);
}
