.btn {
  color: rgba(255, 255, 255, 1);
  border: none;
  height: 50px;
  border-radius: 5px;
  font-family: lato;
  font-size: 15px;
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.25);
}

.btn--blue {
  background-color: rgba(90, 143, 236, 1);
}

.btn--green {
  background-color: rgba(0, 168, 132, 1);
}

.btn--gray {
  background-color: rgba(74, 85, 83, 1);
}

.btn--red {
  background-color: rgba(235, 99, 114, 1);
}

.btn--petsNearby {
  background-color: rgba(235, 99, 114, 1);
  height: 40px;
  width: 100px;
}

.btn--myPets {
  background-color: rgba(90, 143, 236, 1);
  height: 40px;
  width: 100px;
}

.btn--reportPet {
  background-color: rgba(0, 168, 132, 1);
  width: 100%;
}
