.rp-main {
  display: flex;
  justify-content: center;
  min-height: calc(100dvh - 60px);
}

.rp-main__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 90%;
  font-family: lato;
  padding: 30px 0px 30px 0px;
}

.rp-main__title {
  font-family: 36px;
  text-align: center;
}

.rp-main__description {
  margin-bottom: 80px;
  text-align: center;
}

.rp-form {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.rp-form__group {
  display: flex;
  flex-direction: column;
}

.rp-form__dropzone-description {
  text-align: center;
}

.rp-form__map-description {
  text-align: center;
}

.input {
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.25);
  border: none;
  height: 50px;
}

.map {
  width: 100%;
  height: 300px;
  border-radius: 8px;
}
