.lb-header {
  position: relative;
  width: 100%;
}

.lb-header__container {
  background-color: rgba(38, 48, 46, 1);
  border-radius: 0 0 10px 10px;
  height: 60px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.lb-header__img-logo {
  margin-left: 10px;
}

.lb-header__img-menu {
  margin-right: 10px;
}

/* OVERLAY BASE */
.overlay-menu {
  position: fixed;
  inset: 0;
  background-color: rgba(38, 48, 46, 1);
  display: none;
  z-index: 1000;
}

.overlay-menu--open {
  display: block;
}

/* PANEL */
.overlay-menu__content {
  background-color: rgba(38, 48, 46, 1);
  width: 100%;
  height: 100%;
  padding: 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* CLOSE BUTTON */
.overlay-menu__close {
  background: none;
  border: none;
  color: white;
  font-size: 22px;
  align-self: flex-end;
  cursor: pointer;
}

/* NAV */
.overlay-menu__nav {
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: center;
  margin-top: 60px;
}

.overlay-menu__item {
  color: white;
  background-color: transparent;
  border: none;
  font-size: 25px;
  text-decoration: none;
  font-weight: 600;
  font-family: lato;
}

/* FOOTER */
.overlay-menu__footer {
  text-align: center;
}

.overlay-menu__email {
  color: #cfdede;
  font-size: 14px;
  margin-bottom: 16px;
  font-family: lato;
}

.overlay-menu__logout {
  background: none;
  border: none;
  color: #4fd1c5;
  font-weight: 700;
  cursor: pointer;
  font-family: lato;
}
