.ah-main {
  display: flex;
  justify-content: center;
}

.ah-main__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: calc(100dvh - 60px);
}

.ah-main__info {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-family: lato;
}

.ah-main__title {
  font-weight: 700;
  font-size: 38px;
}

.ah-main__description {
  font-size: 16px;
}

.ah-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
}

.ah-label {
  font-family: lato;
}

.ah-input {
  height: 50px;
  border: none;
  box-shadow: 0px 1px 4px 0px #00000040;
  margin-bottom: 25px;
  font-family: lato;
  font-size: 16px;
}

.ah-email {
  margin-top: 25px;
  font-family: lato;
  gap: 10px;
}

.ah-label-email {
  margin-right: 5px;
}

.ah-link {
  text-decoration: none;
  color: #5a8fec;
}
